.divCartList::-webkit-scrollbar{width:8px;}
.divCartList::-webkit-scrollbar-track{background:#f5f5f5}
.divCartList::-webkit-scrollbar-thumb{background-color:#de7200; border-radius:2px;}
.divCartList::-webkit-scrollbar-thumb:hover{transition:300ms; background:#de7200;}

html::-webkit-scrollbar{width:12px;}
html::-webkit-scrollbar-track{background:#f5f5f5}
html::-webkit-scrollbar-thumb{background-color:#de7200; border-radius:2px;}
html::-webkit-scrollbar-thumb:hover{transition:300ms; background:#de7200;}
.division_line{width:100%; height:1px; background-color:#FE8200;}
.division_line.three{height:3px;}
.division_line.five{height:5px;}
input[type="submit"],input[type="submit"]{background:#FE8200; color:#fff;}
select option:hover{background-color:#fff;}
.toggleBox .toggleBG{background-color:#ddd;}
.toggleBox .toggleCircle{border:1px solid #ccc; background-color:#fff}
.toggleBox.checked .toggleBG{background-color:#FE8200;}

.page_title{border-bottom:1px solid #ccc}
.page_title h1{color:#262525;}
.page_title p{color:#262525;}
.page_title h2{color:#262525;}
.page_title a{color:#262525;}

.divCalendarContext .calendar .calendarBox td.able a{color:#262525;}
.divCalendarContext .calendar .calendarBox td.unable a{color:#ccc;}
.divCalendarContext .calendar .calendarBox td.selected{background-color:#FE8200;}
.divCalendarContext .calendar .calendarBox td.selected a{color:#fff;}
.divCalendarContext .calendar .calendarBox td.today a{color:#FE8200; border:1px solid #FE8200;}
.divCalendarContext .calendar .buttonBox input{background-color:rgba(0,0,0,0);}
.divCalendarContext .calendar .buttonBox a{background-color:#eee; color:#262525;}

.divTopHeaderBG{border-bottom:1px solid #ccc; background-color:#f5f5f5}
.divTopHeader li{border-right:1px solid #ccc;}

.divMainLogo a{color:#262525}

.divHeader table td{background-color:#ccc; color:#fff;}
.divHeader{background-color:#ccc;}

.divSlideMenu{background-color:#fff;}
.divSlideMenuBG{background-color:rgba(0,0,0,0.8);}
.divSlideMenu td{border-bottom:1px solid #ccc; font-weight:400;}
.divSlideMenu td.menu.gray{color:#fff; background-color:#FE8200; border-bottom:1px solid #fff}
.divSlideMenu td.menu.gray:last-of-type{}
.divSlideMenu .menu.gray a{color:#fff;}
.divSlideMenu .menu a{color:#262525}

.divSlideCart .divTopHeader{background-color:#fff; color:#262525; border-bottom:1px solid #ccc;}
.divSlideCart .divTopHeader span{color:#FE8200; font-weight:bold; font-size:16px;}
.divSlideCart .divCartList{background-color:#f5f5f5}
.divSlideCart .divCartList .divItem{border:1px solid #eee; background-color:#fff; border-radius:4px; box-shadow:1px 1px 3px rgba(0,0,0,0.1)}
.divSlideCart .divCartList .divItem.selected{border:1px solid #FE8200; background:#fff;}
.divSlideCart .divCartList .divItem .controlTD a{border:1px solid #999; font-size:8px; color:#999;}
.divSlideCart .divCartList .divItem .controlTD a:hover{background-color:#FE8200; color:#fff; border:1px solid #FE8200;}
.divSlideCart .divCartList .divItem .controlTD span{color:#262525;}
.divSlideCart .divCartList img.deleteBtn{background-color:#1a5441;}

.divSlideCart .divCartTotal{border-top:1px dashed #262525; background-color:#eee;}
.divSlideCart .divCartTotal td{color:#262525}
.divSlideCart .divCartTotal input{background-color:#FE8200; color:#fff; border-radius:16px}

.divSlideCart{background-color:#fff;}
.divSlideCartBG{background-color:rgba(0,0,0,0.8);}
.ui.active.dimmer.inverted.divLoader.slideCart{background-color:rgba(255,255,255,0.0);}

.wrap{background-color:#f5f5f5;}
.divSection{background-color:#fff;}
.divSection .divTitle{border-bottom:1px solid #666;}
.divSection .divTitle .subTitle{color:#999;;}
.divSection .box .formBox{border:1px solid #eee;}
.divSection .box .formBox input{border:1px solid #ccc;}
.divSection .box .errMsg{color:#FE8200;}

.divPagenation .Pagenation li{border:1px solid #eee; background-color:#fff;}
.divPagenation .Pagenation li.lastBtn{border-right:1px solid #eee;}
.divPagenation .Pagenation a{color:#262525;}
.divPagenation .Pagenation a li.selected{color:#fff; background-color:#FE8200}

.divTrashBox{background-color:#1a5441;}

boby, html{color:#262525; font-size:14px; font-weight:lighter;}
a:active{color:#262525;}
a:hover{color:#262525;}
a{color:#262525;}
table{width:100%;}
select:focus{outline:0;}
table td{vertical-align:middle; color:#262525;}
input,select,textarea{color:#262525;}
input::placeholder{color:#ccc;}
textarea::placeholder{color:#ccc;}
input:placeholder{color:#ccc;}
input:focus{outline-color:#666;}
textarea:focus{outline-color:#666;}
input[type="submit"],input[type="submit"]{width:100%; font-size:14px; border:0px; background:#FE8200; color:#fff; height:35px;}
input[type="button"].disable,input[type="submit"].disable{ background-color:#eee; color:#fff;}
.hidden{display:none;}
.width3{width:30%;}
.width3:last-of-type{}
.shadow_1{box-shadow:0px 1px 5px rgba(0,0,0,0.2);}
.shadow_2{box-shadow:0px 2px 5px rgba(0,0,0,0.3);}
.ui.active.dimmer.divLoader.body{display:none; position:fixed;}
.ui.active.dimmer.divLoader.slideCart{display:none; position:absolute;}
#sel_tel1,#tel2,#tel3{border-color:#ccc}

.radio_btn{display:inline-block;}
.radio_btn .item{display:inline-block; margin-right:8px; cursor:pointer;}
.radio_btn .item .circle{width:16px; height:16px; background-color:#f5f5f5; border:1px solid #ccc; border-radius:100%; display:inline-block; padding:2px;}
.radio_btn .item .label{display:inline-block; line-height:16px; vertical-align:top;}
.radio_btn .item.selected .circle div{transition:300ms; width:10px; height:10px; background-color:#FE8200; border-radius:100%;}

@media screen and (max-width:1024px) {
  .wrap{width:100%;}
  .pc{display:none;}
  .toggleBox{display:inline-block; cursor:pointer;}
  .toggleBox .toggleBG{transition:200ms;  width:40px; height:20px; border-radius:10px; border:0; display:inline-block;}
  .toggleBox .toggleCircle{transition:200ms; width:20px; height:20px; border-radius:100%;}
  .toggleBox.checked .toggleBG{transition:200ms; }
  .toggleBox.checked .toggleCircle{transition:200ms; transform:translateX(20px);}
  .toggleBox span{vertical-align:super;}

  .page_title{width:100%; padding-left:16px;padding-bottom:16px;}
  .page_title table{width:100%;margin:auto;}
  .page_title td:nth-of-type(2){float:right;}
  .page_title h1{display:inline-block;margin-top:20px;margin-left:20px;font-size:1.2em;}
  .page_title p{display:inline-block;margin-top:20px;margin-left:20px;font-size:0.8em;}
  .page_title h2{margin-top:16px;margin-right:20px;font-size:0.8em;}
  .page_title tr:nth-of-type(2){display:none;}

  .divCalendarContext .calendar .calendarBox td.is_day{text-align:center; padding:5vw 0px;}
  .divCalendarContext .calendar .calendarBox td.able a{font-weight:400;}
  .divCalendarContext .calendar .calendarBox td.today a{font-weight:400;}
  .divCalendarContext .calendar .buttonBox{text-align:center; width:30%; margin:auto; margin-top:12px;}
  .divCalendarContext .calendar .buttonBox input{border:0; text-align:center; font-size:14px; font-weight:300; width:80px;}
  .divCalendarContext .calendar .buttonBox a{font-size:12px; font-weight:bold; padding:2px 4px; border-radius:100%}

  .divTopHeader{width:100%; position:fixed; border-bottom:1px solid #FE8200; height:50px; z-index:996; background-color:#fff}
  .divTopHeader table{width:100%; height:50px;}
  .divTopHeader .hamBtn{width:50px;cursor:pointer;}
  .divTopHeader .cartBtn{width:50px;cursor:pointer;}
  .divTopHeader .logoBtn{text-align:center;cursor:pointer;}
  .divTopHeader .logoBtn a{color:#262525; font-weight:bold;}
  .divTopHeader img{width:50px; height:50px;}
  .divTopHeaderBG{width:100%; height:50px;}

  .divSlideMenu{width:75%; height:100%; position:fixed;  z-index:997; top:0; display:none; left:-120%;}
  .divSlideMenuBG{width:100%; height:100%; position:fixed;  z-index:996; top:0; display:none;}
  .divSlideMenu td{height:50px;}
  .divSlideMenu .menu.gray{border-radius:0px;}
  .divSlideMenu .menu a{display:block; width:100%; padding:16px; padding-left:16px; vertical-align:middle;}
  .divSlideMenu tr:nth-of-type(1) td{text-align:center; font-weight:bold; color:#262525; border-bottom:1px solid #fff;}
  .divSlideMenu tr:nth-of-type(1) td:nth-of-type(2){width:50px;}
  .divSlideMenu tr:nth-of-type(1) td:nth-of-type(2) img{width:30%;}

  .divSlideCart .divTopHeader{width:75%; padding:16px;  vertical-align:middle; text-align:center;}
  .divSlideCart .divCartList{position:absolute; width:100%; height:400px; top:50px; padding:8px; overflow-x: hidden;}
  .divSlideCart .divCartList .divItem{width:100%; margin-bottom:8px;}
  .divSlideCart .divCartList .divItem table{height:100%;}
  .divSlideCart .divCartList .divItem .imgTD{width:59px; padding:4px;}
  .divSlideCart .divCartList .divItem .imgTD img{width:50px; height:50px;}
  .divSlideCart .divCartList .divItem .infoTD{width:40%; font-size:12px; padding-left:4px;}
  .divSlideCart .divCartList .divItem .infoTD p:nth-of-type(1){font-weight:400;}
  .divSlideCart .divCartList .divItem .infoTD p:nth-of-type(2){font-weight:400;}
  .divSlideCart .divCartList .divItem .infoTD p:nth-of-type(3){font-weight:bold;}
  .divSlideCart .divCartList .divItem .controlTD{text-align:center;}
  .divSlideCart .divCartList .divItem .controlTD a{padding:4px 6px; font-size:8px; font-weight:bold;}
  .divSlideCart .divCartList .divItem .controlTD span{display:inline-block; width:30px; font-weight:bold;}
  .divSlideCart .divCartList img.deleteBtn{position:absolute; width:20px; height:20px; border-radius:100%; padding:4px;}

  .divSlideCart .divCartTotal{position:absolute; font-size:14px; width:100%; bottom:0px; text-align:center; font-weight:400; padding-top:8px;}
  .divSlideCart .divCartTotal table{width:80%; margin:auto; margin-bottom:8px;}
  .divSlideCart .divCartTotal table td{padding:8px}
  .divSlideCart .divCartTotal table td:nth-of-type(1){width:80px;}
  .divSlideCart .divCartTotal table td:nth-of-type(2){text-align:right;}
  .divSlideCart .divCartTotal input{margin-bottom:16px; width:80%; border:0; padding:8px}

  .divSlideCart{width:75%; height:100%; position:fixed;  z-index:997; top:0; display:none; left:120%;}
  .divSlideCartBG{width:100%; height:100%; position:fixed; background-color:rgba(0,0,0,0.8); z-index:996; top:0; display:none;}
  .ui.active.dimmer.inverted.divLoader.slideCart{background-color:rgba(255,255,255,0.0);}

  .wrap{width:100%; min-height:70%;}
  .divSection{width:100%;  padding:16px 8px;}
  .divSection .divTitle{width:100%;  text-align:center;}
  .divSection .divTitle .title{line-height:34px; font-weight:bold}
  .divSection .divTitle .subTitle{font-size:10px; line-height:24px; font-weight:400; margin-bottom:8px;}
  .divSection .box{padding:16px 0px;}
  .divSection .box .boxTitle{text-align:center;}
  .divSection .box .formBox{margin:16px 0px 0px 0px; padding:8px;}
  .divSection .box .formBox input{display:inline-block; height:35px; padding-left:8px; width:100%; margin-bottom:8px;}
  .divSection .box .formBox input.lastInput{margin-bottom:0px;}
  .divSection .box .formBox p{font-size:10px; font-weight:400; padding-left:2px;}
  .divSection .box .errMsg{font-size:12px; padding:8px;}

  .divPagenation{width:80%; margin:auto; text-align:center; font-size:0px; margin-top:16px; font-weight:400;}
  .divPagenation .Pagenation{text-align:center;display:inline-block;}
  .divPagenation .Pagenation li{font-size:10px; float:left; padding:8px 12px; border-right:0px;}
  .divPagenation .Pagenation li.firstBtn{border-radius:4px 0px 0px 4px}
  .divPagenation .Pagenation li.lastBtn{border-radius:0px 4px 4px 0px}
  .divPagenation .Pagenation li.prevBtn{font-size:10px;}
  .divPagenation .Pagenation li.nextBtn{font-size:10px;}
  .divPagenation .Pagenation a li.unvisible{display:none;}

  .divTrashBox{position:fixed; top:-120%; left:50%; transform:translate(-50%,-50%); border-radius:100%; padding:16px; z-index:997; display:none;}
  .divTrashBox img{width:30px; height:30px;}

  .divFooter .divInfoBox{background-color:#262525;}
  .divFooter .divInfoBox .divInfo{width:100%; margin:auto; font-size:0; padding:16px 0px 16px 0px;}
  .divFooter .divInfoBox .divInfo table{display:inline-block;}
  .divFooter .divInfoBox .divInfo table:first-of-type td{width:100%;}
  .divFooter .divInfoBox .divInfo table:last-of-type{margin-top:8px;}
  .divFooter .divInfoBox .divInfo table td{color:#fff; padding-top:8px; padding-left:8px; font-size:14px; }
  .divFooter .divInfoBox .divInfo table td.shopName{padding:16px 0px 16px 8px; font-weight:bold; font-size:16px;}
  .divFooter .divInfoBox .divInfo table tr:last-of-type td{ padding-bottom:8px;}
  .divFooter .divInfoBox .divInfo table tr:last-of-type td:first-of-type{width:218px;}
  .divFooter .divInfoBox .divInfo table td span{margin-right:8px;}
  .divFooter .divInfoBox .divInfo table td img{height:22px;}
  .divFooter .divInfoBox .divInfo table:last-of-type tr:nth-of-type(1) td{padding-left:0;}
  .divFooter .divInfoBox .divInfo table:last-of-type tr:nth-of-type(3) td{padding-left:0;}
  .divFooter .divCopyright{background-color:#333;}
  .divFooter .divCopyright p{width:100%; margin:auto; color:#fff; text-align:center; padding:8px;}
}
@media all and (min-width: 1025px) {
  .m{display:none;}
  boby, html{font-weight:400;}
  input[type="submit"],input[type="submit"]{width:100%; font-size:18px; border:0px; background:#FE8200; color:#fff; height:40px;}
  input[type="submit"],input[type="button"]{cursor:pointer;}
  .toggleBox{display:inline-block; cursor:pointer;}
  .toggleBox .toggleBG{transition:200ms; background-color:#ddd; width:40px; height:20px; border-radius:10px; border:0; display:inline-block;}
  .toggleBox .toggleCircle{transition:200ms; width:20px; height:20px; border:1px solid #ccc; border-radius:100%; background-color:#fff}
  .toggleBox.checked .toggleBG{transition:200ms; background-color:#FE8200;}
  .toggleBox.checked .toggleCircle{transition:200ms; transform:translateX(20px);}
  .toggleBox span{vertical-align:super; font-size:16px;}

  .page_title{width:100%; padding-bottom:20px; border-bottom:1px solid #ccc}
  .page_title table{width:1000px;margin:auto;}
  .page_title td:nth-of-type(2){float:right;}
  .page_title h1{display:inline-block;margin-top:20px;margin-left:20px;color:#262525;font-size:1.2em;}
  .page_title p{display:inline-block;margin-top:20px;margin-left:20px;color:#262525;font-size:0.8em;}
  .page_title h2{margin-top:16px;margin-right:20px;color:#262525;font-size:0.8em;}
  .page_title a{color:#262525;}
  .page_title .mobile_url{display:none;}

  .divCalendarContext{width:500px; margin:auto;}
  .divCalendarContext .calendar .calendarBox tr:nth-of-type(1) td{color:#262525; padding:16px;}
  .divCalendarContext .calendar .calendarBox td a{display:block; padding:24px 16px;}
  .divCalendarContext .calendar .calendarBox td.is_day{text-align:center; cursor:pointer; font-size:18px;}
  .divCalendarContext .calendar .calendarBox td.able a{color:#252626; font-weight:bold;}
  .divCalendarContext .calendar .calendarBox td.unable a{color:#ccc;}
  .divCalendarContext .calendar .calendarBox td.selected{background-color:#FE8200;}
  .divCalendarContext .calendar .calendarBox td.selected a{color:#fff;}
  .divCalendarContext .calendar .calendarBox td.today a{color:#FE8200; font-weight:bold; border:1px solid #FE8200;}
  .divCalendarContext .calendar .buttonBox{text-align:center; width:30%; margin:auto; margin-top:32px; margin-bottom:32px;}
  .divCalendarContext .calendar .buttonBox input{border:0; background-color:rgba(0,0,0,0);text-align:center; font-size:24px; font-weight:300; width:80px; margin:0px 16px; color:#262525;}
  .divCalendarContext .calendar .buttonBox a{font-size:12px; font-weight:bold; padding:6px 9px; background-color:#eee; color:#262525; border-radius:100%; cursor:pointer;}

  input:focus{outline:0;}
  table td{vertical-align:middle;}
  .divTopHeaderContainer{width:100%; background-color:#fff; position:fixed; top:0; left:0; box-shadow:8px 8px 8px rgba(0,0,0,0.05); z-index:997;}
  .divTopHeader{width:1440px; margin:auto; }
  .divTopHeader .divLogo a{font-size:28px; font-weight:bold; color:#262525;}
  .divTopHeader .divLogo{padding:16px; width:250px; text-align:center;}
  .divTopHeader .menu{width:110px; text-align:center;}
  .divTopHeader .menu a{font-size:16px;}
  .divTopHeader .menu.strong a{display:inline-block; border:1px solid #4c4c4c; border-radius:2px; width:96px; line-height:36px; vertical-align:baseline; }
  .divTopHeader .menu.strong.color a{border:1px solid #FE8200; color:#fff; background-color:#FE8200;}
  .divTopHeaderBG{width:100%; height:60px;}
/*
  .divTopHeaderBG{border-bottom:1px solid #ccc; background-color:#f5f5f5}
  .divTopHeader{width:1200px; margin:auto; text-align:right;}
  .divTopHeader ul{display:inline-block; }
  .divTopHeader li{float:right; font-size:14px; padding:0px 8px; margin:12px 0px; border-right:1px solid #262525;}
  .divTopHeader li:hover a{transition:200ms; color:#FE8200}
  .divTopHeader li:first-of-type {border-right:0px;}

  .divMainLogo{padding:64px 0px 64px 0px; text-align:center;}
  .divMainLogo a{position:relative; font-size:32px; font-weight:bold; color:#FE8200}

  .divMainMenu{width:100%; border-top:1px solid #ccc; background-color:#fff;}
  .divMainMenu .menu{width:1200px; margin:auto;}
  .divMainMenu .menu table{width:100%; }
  .divMainMenu .menu table td{width:25%; text-align:center; font-weight:400;}
  .divMainMenu .menu table td a{display:inline-block; width:100%; padding:16px; text-align:center; font-size:15px; color:#262525;}
  .divMainMenu .menu table td a.hover:hover{transition:200ms; background-color:#f5f5f5; padding-top:11px; border-top:5px solid #FE8200; color:#000;}
  .divMainMenu .menu table td a.hover.selected{ background-color:#f5f5f5; padding-top:11px; border-top:5px solid #FE8200; color:#000;}

  .divHeader table td{text-align:center; background-color:#ccc; color:#fff; height:37px; vertical-align:middle; font-size:14px;}
  .divHeader{cursor:pointer; background-color:#ccc; position:fixed; left:0px; top:40%; width:40px; height:140px; padding:16px 12px; z-index:999;}
  .divHeader span{margin-bottom:4px; display:block;}
  .divHeader span:nth-of-type(4){margin-bottom:8px;}
*/
  .divCartCallBtn{position:absolute; background-color:#FE8200; top:40%; left:300px; width:50px; text-align:center; padding:8px; cursor:pointer; color:#fff; border-radius:0px 5px 5px 0px;}
  .divCartCallBtn img{width:50%; margin-top:8px;}

  .divSlideMenu{width:300px; height:100%; position:fixed; background-color:#fff; z-index:997; top:0; display:none; left:-120%;}
  .divSlideMenuBG{width:100%; height:100%; position:fixed; background-color:rgba(0,0,0,0.8); z-index:996; top:0; display:none;}
  .divSlideMenu td{height:50px; border-bottom:1px solid #eee;}
  .divSlideMenu .menu.gray{color:#fff; background-color:#666; border-bottom:1px solid #999; border-radius:0px;}
  .divSlideMenu .menu.gray a{color:#fff;}
  .divSlideMenu .menu a{display:block; width:100%; padding:16px; padding-left:16px; vertical-align:middle;}
  .divSlideMenu tr:nth-of-type(1) td{text-align:center;}
  .divSlideMenu tr:nth-of-type(1) td:nth-of-type(2){width:50px;}
  .divSlideMenu tr:nth-of-type(1) td:nth-of-type(2) img{width:30%;}

  .divSlideCart .divTopHeader{width:300px; padding:16px; background-color:#fff; color:#262525; vertical-align:middle; text-align:center; box-shadow:1px 1px 5px rgba(0,0,0,0.1)}
  .divSlideCart .divTopHeader span{color:#FE8200; font-weight:bold;}
  .divSlideCart .divCartList{position:absolute; width:100%; height:400px; top:50px; padding:8px; overflow-x: hidden; background-color:#f5f5f5; color:#262525}
  .divSlideCart .divCartList .divItem{width:100%; border:1px solid #eee; margin-bottom:8px; background-color:#fff; border-radius:4px;}
  .divSlideCart .divCartList .divItem.selected{transition:300ms; border:1px solid #FE8200; background-color:#fff;}
  .divSlideCart .divCartList .divItem table{height:100%;}
  .divSlideCart .divCartList .divItem .imgTD{width:59px; padding:4px;}
  .divSlideCart .divCartList .divItem .imgTD img{width:70px; height:70px;}
  .divSlideCart .divCartList .divItem .infoTD{width:37%; font-size:14px; padding-left:4px;}
  .divSlideCart .divCartList .divItem .infoTD p{color:#262525}
  .divSlideCart .divCartList .divItem .infoTD p:nth-of-type(1){font-weight:700;}
  .divSlideCart .divCartList .divItem .infoTD p:nth-of-type(2){font-weight:400;}
  .divSlideCart .divCartList .divItem .infoTD p:nth-of-type(3){font-weight:bold;}
  .divSlideCart .divCartList .divItem .controlTD{text-align:center;}
  .divSlideCart .divCartList .divItem .controlTD a{border:1px solid #999; padding:4px 6px; font-size:8px; color:#999; font-weight:bold; cursor:pointer; border-radius:2px;}
  .divSlideCart .divCartList .divItem .controlTD a:hover{transition:200ms; background-color:#FE8200; color:#fff; border-color:#FE8200}
  .divSlideCart .divCartList .divItem .controlTD span{display:inline-block; width:30px; font-weight:bold; color:#262525; font-size:16px;}
  .divSlideCart .divCartList img.deleteBtn{position:absolute; width:20px; height:20px; border-radius:100%; padding:4px; background-color:#1a5441;}

  .divSlideCart .divCartTotal{position:absolute; font-size:14px; width:100%; bottom:0px; text-align:center; font-weight:400; border-top:1px dashed #262525; padding-top:8px; background-color:#eee;}
  .divSlideCart .divCartTotal table{width:80%; margin:auto; margin-bottom:8px;}
  .divSlideCart .divCartTotal table td{padding:8px; color:#262525}
  .divSlideCart .divCartTotal table td:nth-of-type(1){width:80px;}
  .divSlideCart .divCartTotal table td:nth-of-type(2){text-align:right;}
  .divSlideCart .divCartTotal input{margin-bottom:16px; width:80%; border:0; background-color:#FE8200; color:#fff; padding:8px; border-radius:16px;}

  .divSlideCart{width:300px; height:100%; position:fixed; background-color:#fff; z-index:997; top:0; left:-300px;}
  .divSlideCartBG{width:100%; height:100%; position:fixed; background-color:rgba(0,0,0,0.8); z-index:996; top:0; display:none;}
  .ui.active.dimmer.inverted.divLoader.slideCart{background-color:rgba(255,255,255,0.0);}

  .wrap{width:100%; min-width:1200px; min-height:60%; margin:auto; background-color:#f5f5f5; padding-top:32px;}
  .divSection{width:500px; background-color:#fff; padding:16px 32px; margin:auto;}
  .divSection .divTitle{width:100%; border-bottom:1px solid #666; text-align:center;}
  .divSection .divTitle .title{line-height:34px; font-weight:bold; font-size:18px;}
  .divSection .divTitle .subTitle{font-size:14px; line-height:24px; color:#999; font-weight:400; margin-bottom:16px;}
  .divSection .box{padding:16px 0px;}
  .divSection .box .boxTitle{text-align:center;}
  .divSection .box .formBox{border:1px solid #eee; margin:16px 0px 0px 0px; padding:8px; font-size:18px}
  .divSection .box .formBox input{display:inline-block; border:1px solid #ccc; padding:12px; width:100%; margin-bottom:8px; line-height:32 px}
  .divSection .box .formBox input.lastInput{margin-bottom:0px;}
  .divSection .box .formBox p{font-size:14px; font-weight:400; padding-left:2px; margin-bottom:4px;}
  .divSection .box .errMsg{font-size:12px; color:#FE8200; padding:8px;}

  .divPagenation{width:80%; margin:auto; text-align:center; font-size:0px; margin-top:16px; font-weight:400;}
  .divPagenation .Pagenation{text-align:center;display:inline-block;}
  .divPagenation .Pagenation li{font-size:14px; float:left; padding:8px 12px; border:1px solid #eee; border-right:0px; background-color:#fff;}
  .divPagenation .Pagenation li.firstBtn{border-radius:4px 0px 0px 4px}
  .divPagenation .Pagenation li.lastBtn{border-right:1px solid #eee; border-radius:0px 4px 4px 0px}
  .divPagenation .Pagenation li.prevBtn{font-size:14px;}
  .divPagenation .Pagenation li.nextBtn{font-size:14px;}
  .divPagenation .Pagenation a{color:#262525;}
  .divPagenation .Pagenation a li.selected{color:#fff; background-color:#FE8200}
  .divPagenation .Pagenation a li.unvisible{display:none;}

  .divFooter .divInfoBox{background-color:#262525;}
  .divFooter .divInfoBox .divInfo{width:1200px; margin:auto; font-size:0; padding:32px 0px 16px 0px;}
  .divFooter .divInfoBox .divInfo table{width:50%; display:inline-block; margin-right:130px;}
  .divFooter .divInfoBox .divInfo table:first-of-type td{width:100%;}
  .divFooter .divInfoBox .divInfo table:last-of-type{width:450px; margin-right:0;}
  .divFooter .divInfoBox .divInfo table td{color:#fff; padding-top:8px; font-size:14px;}
  .divFooter .divInfoBox .divInfo table td.shopName{padding:16px 0px 8px 0px; font-weight:bold; font-size:16px;}
  .divFooter .divInfoBox .divInfo table tr:last-of-type td{ padding-bottom:8px;}
  .divFooter .divInfoBox .divInfo table tr:last-of-type td:first-of-type{width:218px;}
  .divFooter .divInfoBox .divInfo table td span{margin-right:8px;}
  .divFooter .divInfoBox .divInfo table td img{height:22px;}
  .divFooter .divCopyright{background-color:#333;}
  .divFooter .divCopyright p{width:1200px; margin:auto; color:#fff; text-align:center; padding:8px;}
}
