body{padding:32px;}
.popup{width:100%; min-height:100%; padding-bottom:66px;}
.popup table{width:100%;}
table td{vertical-align:middle;}
table tr td.blur{color:#ccc;}

.header{width:100%; text-align:right; padding:8px;}
.header button{padding:4px 8px; border:1px solid #666; background-color:#ddd;}

table.title tr:nth-of-type(1) td{padding:16px;}
table.title tr:nth-of-type(2) td{font-size:36px; height:80px; text-align:center;}
table.title tr:nth-of-type(4) td:first-of-type{padding-left:16px; width:70%;}

table .header{background-color:#ddd}
table .header td{text-align:center;}
.grid{margin-top:16px;}
.grid td{font-size:12px; border:1px solid #262525; text-align:center;  padding:8px;}
.body{margin-top:16px;}
.body td{font-size:12px; border:1px solid #262525; text-align:center;}
.body td:nth-of-type(1){width:50px;}
.body td:nth-of-type(2){width:80px; font-size:0px;}
.body td:nth-of-type(4){width:42px;}
.body td:nth-of-type(5){width:80px;}
.body td:nth-of-type(6){width:80px;}
.body td:nth-of-type(7){width:120px;}
.body td:nth-of-type(8){width:120px;}
.body td input{padding:8px; width:100%; border:0; text-align:center;}
.body td input[type="checkbox"]{width:20px; height:20px;}

.sum td input{height:30px; text-align:right; border:0;}

table td img{width:80px; height:80px; margin-bottom:-11px;}

textarea{width:100%; height:80px; border:0;}
